#loginbox {
  margin-top:50px;
border:1px solid lightskyblue;

}

.panel-info {
width:400px;
}

.panel-title {
  display:flex;
  flex-direction:row;
  font-size:25px;
}

.f-pass {
  float:right;
  font-size:70%;
  position:relative;
  top:-10px;

}



#login-alert {
  display:none;
}

.input-group {
  margin-bottom:20px;
  width:100%;
}

.form-group {
  margin-top:10px;
}

.form-account {
  border-top:1px solid #888;
  padding-top:15px;
  font-size:85%;

}

input[type="email"],
input[type="password"] {
margin-bottom:30px;
width:100%;

}


label {
  width:100%;
}

 .input-group label {
   text-align: left;
 }


.form-group .col-sm-12 button {
  text-align:center;
  padding:10px 80px;
  background-color:#31708f;
 
}