.loginForm {
    margin:80px auto;
    background-color:rgb(214, 208, 208);
    max-width: 500px;
   font-family:sans-serif;
    border:1px solid black;
  }

.password,.web {
text-align:center;
}

button {
  margin-left: 150px;
}

.loginForm button:hover {
  background-color: rgb(58, 125, 224);
    }