div {
    text-align:center;
}

img {
    width:800px;
    display:flex;
    justify-content:center;
    align-items:center;
}

 div .btn-home {
    background-color:gray;
    color:white;
    padding: 10px 50px;
}